.mask {
  width: 100%;
  height: 80vh;
  position: relative;
}

.intro-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mask::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.hero {
  font-size: 6rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 800;
}

.content {
  color: white;
  /* border: 2px solid red; */
  max-width: 90rem;
  width: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
}

.hello {
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 800;
  color: greenyellow;
}

.bio {
  color: orange;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  margin-top: 30px;
}

.info {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  gap: 40px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.resume {
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  border: 3px solid rgb(172, 226, 92);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}
.talk {
  font-size: 18px;
  padding: 5.5px 10px 5.5px 10px;
  border: 3px solid rgb(172, 226, 92);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.resume:hover {
  background-color: orange;
  color: #081b29;
}

.talk:hover {
  background-color: orange;
  color: #081b29;
}

.project-card-1 {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: rgb(19, 19, 19, 0.8);
}

.project-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid white; */
  width: 95%;
  justify-content: space-between;
  gap: 2.5rem;
}

.work {
  font-family: "Poppins", sans-serif;
}

.my-work {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 2.3rem;
}

.card-1 {
  /* border: 2px solid white; */
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 250px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(41, 40, 40, 0.8);
  box-shadow: 2px 2px 2px 2px rgb(50, 48, 48);
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-1 {
  font-size: 18px;
  margin-top: 10px;
}

.btn-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin-top: 15px;
}

.btn-3 {
  font-size: 17px;
  padding: 7px 10px 7px 10px;
  border: none;
  background-color: rgb(166, 224, 79);
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(110, 109, 109);
  cursor: pointer;
}

.btn-3:hover {
  background-color: rgb(147, 230, 21);
}

.btn-4 {
  font-size: 17px;
  padding: 7px 10px 7px 10px;
  border: none;
  background-color: rgb(214, 152, 38);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(110, 109, 109);
  cursor: pointer;
}

.btn-4:hover {
  background-color: orange;
}

.anchor-1 {
  text-decoration: none;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  padding: 10px 170px 10px 170px;
  border: none;
  background-color: #69a1f5;
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(110, 109, 109);
  cursor: pointer;
  margin-top: 20px;
}

.view-all:hover {
  background-color: #5193f5;
}

@media only screen and (max-width: 950px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
  .content {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .mask {
    height: 71vh;
  }
  .content {
    width: 95%;
  }
  .hello {
    font-size: 3rem;
    letter-spacing: 4px;
  }
  .bio {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 450px) {
  .content {
    width: 95%;
    top: 34%;
    align-items: baseline;
    text-align: left;
  }

  .mask {
    height: 55vh;
  }

  .hello {
    font-size: 29px;
    letter-spacing: 2.75px;
  }

  .bio {
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .card-1 {
    width: 280px;
  }

  .content-1 {
    font-size: 16px;
  }

  .anchor-1 {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .my-work {
    font-size: 28px;
  }
  .resume {
    font-size: 15px;
    padding: 3px 8px 3px 8px;
  }
  .talk {
    font-size: 15px;
    padding: 5.5px 8px 5.5px 8px;
  }
  .view-all {
    font-size: 15px;
    padding: 10px 110px 10px 110px;
  }
}
