.mask {
    width: 100%;
    height: 80vh;
    position: relative;
}

.intro-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}

.hero {
    width: 100%;
    height: 100%;
}

.content {
    color: white;
    /* border: 2px solid red; */
    width: 675px;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    /* bottom: 50%; */
    left: 50%;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
}

.hello {
    font-size: 40px;
    color: greenyellow
}

.name {
    font-size: 25px;
    color: orange;
    margin-top: 5px;
}

.bio {
    font-size: 25px;
    color: orange;
    margin-top: 5px;
}

.project-card-1 {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(19, 19, 19, 0.8);

}

.project-container {
    display: flex;
    flex-direction: row;
    /* border: 2px solid white; */
    width: 95%;
    justify-content: space-between;
    gap: 2.5rem;
}

.work {

    font-family: 'Poppins', sans-serif;

}

.my-work {
    color: white;
    text-align: center;
    /* margin-top: 10px;  */

}

.card-1 {
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 400px;
    min-height: 250px;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(41, 40, 40, 0.8);
    box-shadow: 2px 2px 2px 2px rgb(50, 48, 48);
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-1 {
    font-size: 18px;
    margin-top: 10px;
}

.btn-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    margin-top: 15px;
}

.btn-3 {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: rgb(158, 164, 220);
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(50, 48, 48);
}

.btn-3:hover {
    background-color: rgb(113, 122, 194);
}

.btn-4 {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: rgb(214, 152, 38);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(50, 48, 48);

}

.btn-4:hover {
    background-color: orange;
}

.anchor-1 {
    text-decoration: none;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: rgb(233, 233, 71);
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(50, 48, 48);
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.view-all:hover {
    background-color: yellow;
}

@media only screen and (max-width:950px) {
    .project-container {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }



}

@media only screen and (max-width:700px) {
    .content {
        width: 370px;
        height: 185px;

    }

    .mask {
        height: 70vh;
    }

}

@media only screen and (max-width:450px) {
    .content {
        top: 32%;
        width: 310px;
        height: 150px;
        align-items: baseline;
        text-align: left;
    }

    .mask {
        height: 50vh;
    }


    .hello {
        font-size: 30px;
    }

    .name {
        font-size: 20px;
        margin-top: 1px;
    }

    .bio {
        font-size: 20px;
        margin-top: 1px;
    }

    .card-1 {
        width: 280px;
    }

    .content-1 {
        font-size: 16px;
    }

    .anchor-1 {
        font-size: 15px;
    }

    .title {
        font-size: 20px;
    }
}

.work {
    font-size: 15px;
}