.hero4-img{
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.5);
    height: 80vh;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.contact-content{
    height: 100%;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.hero4-img::before{
    content: "";
    background: url("https://cdn.pixabay.com/photo/2019/05/10/13/28/contact-us-4193523_960_720.jpg");
    background-size: cover;
    background-position: center top;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}