.hero3-img{
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.5);
    height: 80vh;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.about-content{
    height: 100%;
    width: 70%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 15px;
    padding: 1rem;
}
.hero3-img::before{
    content: "";
    background: url("https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg");
    background-size: cover;
    background-position: center top;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}