.project-card{
    /* border: 2px solid white; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(19,19,19,0.8); */
    background-color: #f3f3ff
}
.card{
    /* border: 2px solid white; */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 225px; 
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(167, 203, 218);
    box-shadow: 2px 2px 2px 2px rgb(91, 86, 86);
    margin-top: 35px;
    margin-bottom: 35px;

}
.content{
    font-size: 18px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
.btn-1{
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: skyblue;
    border-radius: 5px;
    text-decoration: none;

}
.btn-2{
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;

}