.web-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
    height: 200px;
    width: 1000px;
}
.skills{
    /* text-align: center; */
    color: white;
    font-size: 30px;
}
.html-img{
    width: 60px;
    height: 60px;
}
.css-img{
    width: 45px;
    height: 60px;
}
.javascript-img{
    width: 55px;
    height: 60px;
}
.react-img{
    width: 75px;
    height: 60px;
}
.github-img{
    width: 55px;
    height: 60px;
}

.right{
    /* border: 2px solid white; */
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19,19,19,0.8);
    font-family: 'Poppins', sans-serif;
    
}