@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cookie&family=Courgette&family=Josefin+Sans:wght@300&family=Neonderthaw&family=Pacifico&family=Poppins:wght@300&family=Stalemate&family=Trade+Winds&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-family: 'Trade Winds', cursive;
    font-size: 25px;
    font-weight: 100;
}
.navbar{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: space-around;
   /* background-color: rgb(242, 206, 219); */

}
.navlink{
    display: flex;
    /* border: 2px solid green; */
    gap: 5.0rem;
    align-items: center;
}
.navlink a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: gray;

}
.navlink a:hover{
    color: black;
}